<template>
  <canvas :data-links="links" :style="canvasSize" ref="canvas"/>
</template>

<script>
export default {
  name: 'ArrowsArea',
  data() {
    return {
      context: undefined,
      canvasSize: {},
    };
  },
  computed: {
    links() {
      return this.$store.getters.LINKS.map((item) => {
        const from = this.coordCalc(item.startId, item.startSide);
        const to = this.coordCalc(item.endId, item.endSide);
        return {
          fromX: from.posX,
          fromY: from.posY,
          toX: to.posX,
          toY: to.posY,
        };
      });
    },
  },
  mounted() {
    this.context = this.$refs.canvas.getContext('2d');
    this.$refs.canvas.width = this.$refs.canvas.clientWidth;
    this.$refs.canvas.height = this.$refs.canvas.clientHeight;

    this.canvasSize = {
      width: `${this.$refs.canvas.clientWidth}px`,
      htight: `${this.$refs.canvas.clientHeight}px`,
    };
  },
  methods: {
    coordCalc(id, side) {
      let { posX, posY } = this.$store.getters.CARDS[id];
      switch (side) {
        case 'right':
          posY += 70;
          posX += 155;
          break;
        case 'bottom':
          posX += 70;
          posY += 155;
          break;
        case 'left':
          posY += 70;
          posX -= 15;
          break;
        case 'top':
          posX += 70;
          posY -= 15;
          break;
        default:
          console.log('WTF?');
      }
      return { posX, posY };
    },
    canvasArrow(fromX, fromY, toX, toY) {
      const headlen = 10;
      const dx = toX - fromX;
      const dy = toY - fromY;
      const angle = Math.atan2(dy, dx);
      this.context.moveTo(fromX, fromY);
      this.context.lineTo(toX, toY);
      this.context.lineTo(
        toX - headlen * Math.cos(angle - Math.PI / 6),
        toY - headlen * Math.sin(angle - Math.PI / 6),
      );
      this.context.moveTo(toX, toY);
      this.context.lineTo(
        toX - headlen * Math.cos(angle + Math.PI / 6),
        toY - headlen * Math.sin(angle + Math.PI / 6),
      );
      this.context.strokeStyle = '#6464ff';
      this.context.stroke();
    },
  },
  updated() {
    this.$refs.canvas.width = this.$refs.canvas.clientWidth;
    this.$refs.canvas.height = this.$refs.canvas.clientHeight;
    console.log(this.links);
    this.links.forEach((item) => {
      this.canvasArrow(item.fromX, item.fromY, item.toX, item.toY);
    });
  },
};
</script>

<style lang="scss" scoped>
  canvas {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
</style>
