<template>
  <div v-on:pointermove="move"
       v-on:pointerdown="startMove"
       v-on:pointerup="endMove"
       class="card"
       :style="cardStyle">
    <div
      v-on:pointerdown="createLine"
      class="point pos-v-c pos-h-r"
      data-position="right"
      :class="select === 'right' ? 'selected':''"
    ></div>
    <div
      v-on:pointerdown="createLine"
      class="point pos-v-b pos-h-c"
      data-position="bottom"
      :class="select === 'bottom' ? 'selected':''"
    ></div>
    <div
      v-on:pointerdown="createLine"
      class="point pos-v-c pos-h-l"
      data-position="left"
      :class="select === 'left' ? 'selected':''"
    ></div>
    <div
      v-on:pointerdown="createLine"
      class="point pos-v-t pos-h-c"
      data-position="top"
      :class="select === 'top' ? 'selected':''"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    value: Object,
  },
  computed: {
    cardStyle() {
      return {
        top: `${this.value.posY}px`,
        left: `${this.value.posX}px`,
      };
    },
    select() {
      let select = null;
      if (this.$store.getters.SELECT_ID === this.value.id) {
        select = this.$store.getters.SELECT_SIDE;
      }
      return select;
    },
  },
  data() {
    return {
      dragged: false,
      pointX: 0,
      pointY: 0,
    };
  },
  methods: {
    move(event) {
      if (this.dragged) {
        this.$store.commit('SET_CARD_POSITION', {
          id: this.value.id,
          posY: event.pageY - this.pointY,
          posX: event.pageX - this.pointX,
        });
      }
    },
    startMove(event) {
      if (!event.defaultPrevented) {
        event.target.setPointerCapture(event.pointerId);
        this.dragged = true;
        this.pointX = event.offsetX;
        this.pointY = event.offsetY;
      }
    },
    endMove() {
      this.dragged = false;
    },
    createLine(event) {
      event.preventDefault();
      const curSide = event.currentTarget.getAttribute('data-position');

      if (this.select === curSide) {
        this.$store.commit('UNSET_SELECT');
      } else if (this.$store.getters.SELECT_ID === null) {
        this.$store.commit('SET_SELECT', {
          side: curSide,
          id: this.value.id,
        });
      } else if (this.$store.getters.SELECT_ID !== this.value.id) {
        this.$store.dispatch('CREATE_LINE', {
          side: curSide,
          id: this.value.id,
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  background-color: rgba(100, 100, 255, 1);
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  cursor: pointer;
  user-select: none;

  .point {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: rgba(255, 255, 100, 1);
    border: 3px solid white;

    &.selected {
      background-color: rgba(255, 100, 255, 1);
    }
    &.pos-v-c {
      top: calc(50% - 15px);
    }
    &.pos-v-b {
      top: calc(100% - 15px);
    }
    &.pos-v-t {
      top: calc(0% - 15px);
    }
    &.pos-h-c {
      left: calc(50% - 15px);
    }
    &.pos-h-l {
      left: calc(0% - 15px);
    }
    &.pos-h-r {
      left: calc(100% - 15px);
    }
  }
}
</style>
