<template>
  <div id="app">
    <ArrowsArea />
    <Card
      v-for="(item, index) in cards"
      :value="{...item, id: index}"
      v-bind:key="`card-${index}`"
    />
    <button @click="create">+</button>
  </div>
</template>

<script>
import ArrowsArea from './components/ArrowsArea.vue';
import Card from './components/Card.vue';

export default {
  name: 'App',
  components: {
    Card,
    ArrowsArea,
  },
  computed: {
    cards() {
      return this.$store.getters.CARDS;
    },
  },
  methods: {
    create() {
      this.$store.commit('CREATE_CARD');
    },
  },
};
</script>

<style lang="scss">
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
button {
  position: absolute;
  z-index: 2;
}
</style>
